# pandas kütüphanensi

<!-- pandas serileri  -->

In [27]:
import pandas as pd
import numpy as np
# data 
numbers=np.array([20,30,40,50])
letters=['a','b','c','d',20]

"""scalar=5
dict={'a':10,'b':20,'c':55,'d':26}
pandas_series=pd.Series(dict)
# series içine yazılan ikinci elemanlar index numaralarını tanımlar
pandas_series=pd.Series(numbers,['a','b','c','d']) # pandas serisi oluştruduk
print(pandas_series)"""
pandas_series=pd.Series(numbers,['a','b','c','d'])
print('*******************')




random_sayı=np.random.randint(10,100,6) # numpy ile rastgele 6 sayı oluşturduk
#pandas_series=pd.Series(random_sayı)    # pandas içine attık

print(pandas_series)

*******************
a    20
b    30
c    40
d    50
dtype: int32

In [62]:
result=pandas_series[2:]
result=pandas_series['a'] # key bilisini yazarak da elemana ulaşabilriz
result=pandas_series[['a','c']]
result=pandas_series.ndim # kaç boyutlu olduğunu gösterir
result=pandas_series.shape
result=pandas_series.sum() # elemanları toplar
result=pandas_series.max()
result=pandas_series+50
result=np.sqrt(pandas_series)# karekçk bilgileri
result=pandas_series >=50
result=pandas_series %2==0

print(result)

a    True
b    True
c    True
d    True
dtype: bool

In [64]:
opel2018=pd.Series([20,30,40,10],['astra','corsa','vectra','insignia'])
opel2019=pd.Series([20,30,40,10],['astra','corsa','Grandland','insignia'])


total=opel2018+opel2019
print(total['astra'])

40.0

<!-- Pandas Datafarames -->

In [76]:
s1=pd.Series([1,3,6,5])
s2=pd.Series([3,5,9,7])

data={'appless':s1 , 'oranges':s2}
df=pd.DataFrame(data)
print(df)

   appless  oranges
0        1        3
1        3        5
2        6        9
3        5        7

In [78]:
df =pd.DataFrame([1,2,3,6])
print(df)

   0
0  1
1  2
2  3
3  6

In [93]:
list=[['ali',55],['ahmet',70],['umut',35]]

dict= {'name':['ahmet','ali','umut'],'grade':[50,60,75]}
dict_list=[{"Name":'ahmet','Grade':50},
           {"Name":'umut','Grade':25},
           {"Name":'ali','Grade':78}]

df =pd.DataFrame(dict_list,index=[1,2,3])
#sıra parametre index ve colon olarak olmalı ama index yazarsak problem olamaz 
#df =pd.DataFrame(list,columns=['Names','Grade'],index=[1,2,3])
print(df)

    Name  Grade
1  ahmet     50
2   umut     25
3    ali     78

<!-- farklı dosya tiplerindinden veri okuma  -->

In [26]:
import pandas as pd  

#datafream ile cv ve exel dosyaları okuma
df =pd.read_csv('all_seasons.csv')
df =pd.read_excel('sample.xlsx')
print(df)

     name  grande
0     ali      50
1    umut      20
2  yağmur      30

<!-- dataframlerde seçme işlemleri -->

In [93]:
import pandas as pd 

from numpy.random import randn

df= pd.DataFrame(randn(3,3),index=['A','B','C'],columns=['colomn1','colomn2','colomn3'])
print(df)
result =df
# colon 1 ve kolon 2 yi yazdırdık aynı işlemi loc komutu ile de yapabiliriz
result=df[['colomn1','colomn2']]
print('***************')
# loc komtunun kullanımı bu şekilde
#loc("row",colomn) => loc["row"] => loc[:,"colomn"] 
result=df.loc['A']
result=df.loc[:,'colomn1']
result=df.loc[:,['colomn1','colomn2']]
result=df.loc[:,"colomn1":"colomn3"] # belli bir aralıkta kolon seçtik
result=df.loc[:,:"colomn3"] # baştan belli kolona kadar seçtik
# kolon ve satırları isteğe göre seçtik
result=df.loc["A":"B",:"colomn3"]
result=df.loc[:"B",:"colomn3"] # üstteki ile aynı kulanım

result=df.iloc[2] # iloc komutu ile index numarasına göre satır seçtik

result=df.loc['A','colomn2'] # A. satırın 2. kolonuna gelen değeri aldık
result=df.loc[['A','B'] ,['colomn2']]
print(result)
print('***************')
df["colomn4"]=pd.Series(randn(3),['A','B','C'])# yeni kolon ekledik
    
    
df["colomn5"]=df["colomn1"]+df['colomn2']

# drop metodu ile kolon5 i sildik inplace i belirtmezsek geçici silme yaparız
result=df.drop("colomn5",axis=1,inplace=True) 
print(result)
print(df)

    colomn1   colomn2   colomn3
A -0.005585  0.185826  0.961955
B  1.710298  1.596930  0.248654
C -0.559179  0.297537 -0.199776
***************
    colomn2
A  0.185826
B  1.596930
***************
None
    colomn1   colomn2   colomn3   colomn4
A -0.005585  0.185826  0.961955 -1.076233
B  1.710298  1.596930  0.248654  0.209105
C -0.559179  0.297537 -0.199776  0.189246

<!-- dataframe filtreleme -->

In [144]:
import pandas as pd

import numpy as np

data =np.random.randint(10,100,75).reshape(15,5)

df=pd.DataFrame(data,columns=['c1','c2','c3','c4','c5'])
print(df)
print('************************')
result=df
result=df.columns
result=df.head(5) # ilk 5 kaydı gösterir
result=df.tail(5)# son 5 satır gösterir


result=df['c1'].head() # sadece kolon 1 i aldık head metodu ile ilk 5 kaydı aldık
result=df.c1.head() # aynı gösterim

result=df[['c1','c2']].head() # c1 ve c2 yi gösterdik

result=df[5:15][["c1","c2"]].head()


result=df>50 # 50 den büyük dataları true yaptık
result=df[df>50] # 50 den büyük olanları fream e attık
result=df[df%2==0] 

result=df[df['c1']>50][['c1','c2']]

result=df[(df['c1']>50)&(df ['c2']<=70)] # and işareti ile koşul belirttik
result=df[(df['c1']>50)|(df ['c2']<=70)]   # or işareti ile koşul belirttik

result=df[(df['c1']>50)|(df ['c2']<=70)][['c1','c2']]

result=df.query('c1 >50 & c1 %2==0' )[['c1','c2']]# koşul işleminin komutu




print(result)

    c1  c2  c3  c4  c5
0   58  97  26  24  85
1   16  53  82  39  26
2   21  89  41  73  31
3   22  81  48  82  86
4   61  51  73  69  72
5   95  23  77  27  37
6   15  67  96  96  89
7   99  77  15  65  85
8   40  29  21  89  60
9   15  48  85  23  71
10  83  41  85  66  11
11  24  79  28  72  76
12  76  31  80  39  32
13  17  37  25  61  99
14  96  99  52  65  89
************************
    c1  c2
0   58  97
12  76  31
14  96  99

<!-- imdb veri analizi -->

In [256]:
import pandas as pd


df=pd.read_csv('all_seasons.csv')
result=df.columns
result=df.info
result=df.head()
result=df.head(10)
result=df.tail()
result=df[['age','player_name']].head()
result=df[['age','player_name']].tail(7)
result=df.loc[5:10][['player_name','age']]
result=df.query('age>30')[['player_name','age','draft_year']].head(50)
result=df.query('age > 30 & age < 38')[['player_name']].head(20)
result=df.query('age > 30 | age < 38')[['player_name','college']].head(20)
print(result)

          player_name                      college
0       Dennis Rodman  Southeastern Oklahoma State
1   Dwayne Schintzius                      Florida
2        Earl Cureton                Detroit Mercy
3         Ed O'Bannon                         UCLA
4         Ed Pinckney                    Villanova
5       Eddie Johnson                     Illinois
6         Eddie Jones                       Temple
7      Elden Campbell                      Clemson
8   Eldridge Recasner                   Washington
9        Elliot Perry                      Memphis
10      Elmer Bennett                   Notre Dame
11     Elmore Spencer             Nevada-Las Vegas
12      Emanual Davis               Delaware State
13      Ennis Whatley                      Alabama
14       Eric Leckner                      Wyoming
15        Eric Mobley                   Pittsburgh
16      Eric Montross               North Carolina
17       Eric Murdock                   Providence
18    Eric Piatkowski                     Nebraska
19          Eric Snow               Michigan State

<!-- dataframe groupby -->

In [270]:
import pandas as pd 
import numpy as np
df=pd.read_csv('all_seasons.csv')
result=df.groupby('player_name').groups

"""yaslar=df.groupby('college')
for name,grup in yaslar:
    print(name)
    print(grup)
"""
    
result=df.groupby("age").get_group(27)
result=df.groupby("player_name").get_group('Eric Leckner')
result=df.groupby('college').get_group('Florida').mean()
result=df.groupby('college')['age'].mean()# collge a göre grupladık yaşa göre ort aldık
result=df.groupby('college')['age'].count()# kaç kişi var olduğuna bakar

result=df.groupby('college')['age'].max().head(10)


result=df.groupby('college')['age'].agg([np.mean,np.max,np.min]).head(10)
print(result)

                                          mean  amax  amin
college
                                     26.500000  27.0  26.0
                                     20.000000  20.0  20.0
Alabama                              27.663866  37.0  19.0
Alabama A&M                          25.000000  25.0  25.0
Alabama Huntsville                   29.000000  30.0  28.0
Alabama-Birmingham                   26.000000  29.0  22.0
Albany State (GA)                    40.500000  41.0  40.0
American International               35.000000  37.0  33.0
American University                  32.500000  33.0  32.0
Arizona                              27.154122  40.0  19.0

C:\Users\kayan\AppData\Local\Temp/ipykernel_10672/2204013344.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  result=df.groupby('college').get_group('Florida').mean()

<!-- kayıp ve bozuk veri analizi -->

In [666]:
import pandas as pd
import numpy as np
data=np.random.randint(10,100,15).reshape(5,3)

df=pd.DataFrame(data,index=['a','c','e','f','h'],columns=['c1','c2','c3'])

df=df.reindex(['a','b','c','d','e','f','g','h'])

result=df
result=df.drop('c1',axis=1)
result=df.drop('a')

# df de nan olan değerleri true yada false yapmak için isnull-notnull kullandık
result=df.isnull()
result=df.notnull()
result=df.isnull().sum()
result=df['c1'].isnull().sum()

newC=[np.nan,30,np.nan,51,np.nan,30,np.nan,10]


df['c4']=newC

result=df

result=df[df['c1'].isnull()]
result=df[df['c1'].isnull()]['c1']

result=df[df['c1'].notnull()]['c1']

# dropna nan olan satır yada sütunu komple silmeye yarar
result=df.dropna(axis=1) # axis=0 satıra göre
result=df.dropna(axis=1) # axis=1 satıra göre

result=df.dropna(how='any') # sadece 1 tane bile nan varsa siler
result=df.dropna(how='all')# tüm satırı nan olan satırı siler droplar 

result=df.dropna(subset=['c1','c2'],how='all')
result=df.dropna(subset=['c1','c2'],how='any')

# en az sayıda normal veri
result=df.dropna(thresh=2)
result=df.dropna(thresh=4)
result=df.dropna(thresh=3)

result=df.fillna(value='no input')
result=df.fillna(value=1)

result=df.sum()
result=df.sum().sum()
result=df.size


result=df.isnull().sum()

result=df.isnull().sum().sum()

# nan olan yerlere sayıların ortalamasını yazdık

def ortalama(df):
    toplam =df.sum().sum()
    adet=df.size - df.isnull().sum().sum()
    return toplam/adet


result=df.fillna(value=ortalama(df))
print(result)

     c1    c2    c3    c4
a  33.0  20.0  71.0  42.0
b  42.0  42.0  42.0  30.0
c  88.0  44.0  93.0  42.0
d  42.0  42.0  42.0  51.0
e  25.0  15.0  39.0  42.0
f  84.0  58.0  21.0  30.0
g  42.0  42.0  42.0  42.0
h  38.0  18.0  30.0  10.0

<!-- pandasta string fonksiyonları kullanımı -->

In [694]:
import pandas as pd 


data.dropna(inplace=True)

#print(data.columns)
data =pd.read_csv('all_seasons.csv')

"""data['player_name']=data['player_name'].str.upper()
data['player_name']=data['player_name'].str.lower()"""

#data["index"]=data['player_name'].str.find('a')

#data=data[data.player_name.str.contains('Earl Cureton')]
#data=data['player_name'].str.replace(' ','-').head(10)

# isim ve soy isimleri ayırıp oluşturdugumuz name ve surname kolonlarına attık
data[["name","surname"]]=data['player_name'].loc[data['player_name'].str.split().str.len()==2].str.split(expand=True)


print(data[['name','surname']].head(10))

       name     surname
0    Dennis      Rodman
1    Dwayne  Schintzius
2      Earl     Cureton
3        Ed    O'Bannon
4        Ed    Pinckney
5     Eddie     Johnson
6     Eddie       Jones
7     Elden    Campbell
8  Eldridge    Recasner
9    Elliot       Perry

<!-- join ve merge işlemleri -->

In [715]:
import pandas as pd


"""customers ={
    
    'customerıd':[1,2,3,4],
    'name':['ali','ayşe','kevser','ahmet'],
    'surname':['kayanc','kaplan','çilata','arslan'],
}

orders={
    'orederıd':[10,11,12,13],
    'customerıd':[1,2,5,7],
    'ordordate':['hazıranıyor','hazır','s_alındı','s_bekleniyor']
}


df_customers=pd.DataFrame(customers,columns=['customerıd','name','surname'])
                          
                          
df_orders=pd.DataFrame(orders,columns=['orederıd','customerıd','ordordate'])                          
                          
                          
                          
print(df_customers)                          
print(df_orders)                         
                          
# inner join yaptığımız için sadece ortak cololnlar geldi

result=pd.merge(df_customers,df_orders,how='inner')

result=pd.merge(df_customers,df_orders,how='left')
result=pd.merge(df_customers,df_orders,how='right')"""


customersA ={
    
    'customerıd':[1,2,3,4],
    'name':['ali','ayşe','kevser','ahmet'],
    'surname':['kayanc','kaplan','çilata','arslan'],
}
customersB ={
    
    'customerıd':[4,5,6,7],
    'name':['yağmur','çınar','ata','ırmak'],
    'surname':['turan','kartal','kro','bilge'],
}

df_customersA=pd.DataFrame(customersA,columns=['customerıd','name','surname'])
                          
                          
df_customersB=pd.DataFrame(customersB,columns=['customerıd','name','surname'])  

# concat ile birleştirme yaptık
result=pd.concat([df_customersA,df_customersB])
result=pd.concat([df_customersA,df_customersB],axis=1)





print(result)

   customerıd    name surname
0           1     ali  kayanc
1           2    ayşe  kaplan
2           3  kevser  çilata
3           4   ahmet  arslan
0           4  yağmur   turan
1           5   çınar  kartal
2           6     ata     kro
3           7   ırmak   bilge

<!-- dataframe metodları -->

In [751]:
import pandas as pd

import numpy as np


data ={
    'kolon1':[1,2,3,4,5],
    'kolon2':[10,20,13,20,25],
    'kolon3':['abc','abd','cba','dfg','emh']
}
df=pd.DataFrame(data)

def kareal(x):
    return x*x

kareal2= lambda x: x*x

result=df

# tekrarlayan elemanları bir tane alan metod
result=df['kolon2'].unique()
# üsttekinin sayısını verir
result=df['kolon2'].nunique()
#her bir elemanın kaç kere tekrarladığını verir
result=df['kolon2'].value_counts()
#değerlerin karesini aldık
result=df['kolon1']**2
#değerlerin karesini aldık
result=df['kolon2'].apply(kareal)
result=df['kolon2'].apply(kareal2)
result=df['kolon2'].apply(lambda x: x*x)

result=df['kolon3'].apply(len)


df['kolon4']=df['kolon3'].apply(len)

print(df)

print("********************************")

result=len(df.columns)


result=df.index
result=len(df.index)

result=df.info

# değeri sıralar 
result=df.sort_values("kolon2")
result=df.sort_values("kolon3")# alfabetik sıraladık





print(result)
print("********************************")
# pivot_table metodu ile istediğimizi lolon veya satır yapabiliyoruz
print(df.pivot_table(index='kolon1',columns='kolon3',values='kolon2'))

   kolon1  kolon2 kolon3  kolon4
0       1      10    abc       3
1       2      20    abd       3
2       3      13    cba       3
3       4      20    dfg       3
4       5      25    emh       3
********************************
   kolon1  kolon2 kolon3  kolon4
0       1      10    abc       3
1       2      20    abd       3
2       3      13    cba       3
3       4      20    dfg       3
4       5      25    emh       3
********************************
kolon3   abc   abd   cba   dfg   emh
kolon1
1       10.0   NaN   NaN   NaN   NaN
2        NaN  20.0   NaN   NaN   NaN
3        NaN   NaN  13.0   NaN   NaN
4        NaN   NaN   NaN  20.0   NaN
5        NaN   NaN   NaN   NaN  25.0