# Python notları

<!-- pythonda ilk uygulama -->

In [ ]:
print("merhaba"); #ekrana merhaba yazar

<!-- Sayı veri tipleri -->

In [9]:
"intager" veri tipleri tam sayıları ifade eder
"float " veri tipleri ondalıklı sayıları ifade eder

print (2+2) # 2+2 nin cevabını yazdırır 

"type" veri tipini gösterir  

type (2) # çıktısı int olacaktır

<!-- matematiksel oparatörler -->

In [ ]:
toplama >> +
çıkarma >> -
çarpma  >> *
bölme   >> /
üs alma >> **
mod alma>> % ( mod alma bölüm sonucu kalan değeri verir)
çıkan sonucun tam sayı olması için >> // işareti kullanılır

<!-- değişken tanımlama  -->

In [ ]:
maasAli =5000 # burda değerleri geçici olarak bir değişkene atadık
maasAhmet=4000 
vergi=0.27
print ( maasAli-(maasAli*vergi)) # burda da değikenleri işleme soktuk ve yazdırdık
print ( maasAhmet-(maasAhmet*vergi))  

"değişken tanımlama kuralları "
# rakam ile başlayamaz
# büyük küçük har duyarlılığı
# türkçe karakter kullanmayalım



# değişken içersine string ifade koyarsak 
a =" 10 "
b =" 20 "
 print (a + b) # => 1020

<!-- değişken tanımlama uygulaması -->

In [3]:
#1. uygulama musteri bilgilerini karışık veri tipleri ile tanımladık
musteriAdi ="ali"   
musteriSoyad=" kayanc"
musteriAdSoyad= musteriAdi + " " + musteriSoyad
musteriCinsiyet = True # erkek
musteriTC= "1235564"
musteriDogumYili= 2002
musteriDresi=" ankara eryaman"
musteriYasi=2022-musteriDogumYili

print( musteriYasi)

20

In [4]:

# 2. uygulama olan sipariş bilgilerini değişkenlere atadıkorder1=110   
order2=1100.5
order3=356.95
total=order1+order2+order3
print(total)

1567.45

<!-- veri tipleri dönüşümleri -->

In [5]:
x = input (" 1. sayı:")
y= input ( " 2. sayı:")
toplam = x + y
print ( toplam)  
 # burada veri tiplerini tanımlamadığımız için string bir şekilde topladı

 1. sayı:2
 2. sayı:3
23

In [7]:
x = input (" 1. sayı:")
y= input ( " 2. sayı:")
toplam =int (x) + int (y)   # tip dönüşümü uyguladık
print ( toplam)

 1. sayı:2
 2. sayı:3
5

In [15]:
x = 5    # int 
y= 2.5    # float 
name = " çınar " # string 
isonline = True # bool

print ( type (x))
x = float (x) # tip dönüşümü yaptık
print ( type (x))  # x in tipini yazdırdık

result=x + y

print (result)
print(type(result)) # result un değerine ve tipine  baktık
isonline=int (isonline) # isonline ı int tipine çevirdik 
print(isonline)  # true değeri 1 e eşitmiş
print(type(isonline))

<class 'int'>
<class 'float'>
7.5
<class 'float'>
1
<class 'int'>

# <!-- tür dönüşümleri -->

In [16]:
 # yarı çapı verilen bir daiirenin alan ve çevresini hesaplama örneği
   

pi= 3.14

r= float (input  (" yarıçapı:"))
    
alan=pi * (r **2)
cevre=2*pi*r
    
print ("alan",alan)
print ("çevre",cevre)

 yarıçapı:2
alan 12.56
çevre 12.56

# <!--  karakter dizileri :string  -->

In [28]:
name=" ali"
surname="kayanc"
age=20
#bilgileri string şekilde toplayarak print ile yazdırdık
print ("my name is"+" "+name+" "+surname + " and \nI am "+ str (age) + " yeras old." )

greating ="my name is"+" "+name+" "+surname + " and \nI am "+ str (age) + " yeras old." 

print (greating[0]) # ilk karakteri yazdırdık

print (len (greating)) # len komutu ifadenin karakter sayısını verir

print (greating[45]) # son karakteri verir 0 dan başladığı için sondan bir eksiği istedik

print (greating [3:7])# 3 den başlayıp 7. karaktere kadar yaz 

print (greating [2:40:2]) # 2 den başlar 40 a kadar 2 karakter atlayarak yazar

my name is  ali kayanc and
I am 20 yeras old.
m
46
.
name
 aei aikyn n Ia 0yr

# <!--  string formatla -->

In [41]:
name="ali"
surname="kayanc"
age ="20"
# süslü parantez ve format komutunu kullanarak kolaylık sağlayabiliriz
print ("my name is {} {}".format (name,surname))
 
# index numaralarını kullanarak yerlerini değiştirebiliriz
print ("my name is {1} {0}".format (name,surname))

# yada değişkenlere isim vererek yer değiştirme işlemini yapabiliriz
print ("my name is {s} {n}".format (n=name,s=surname))

# bu şekilde de kullanabiliriz
print ("my name is {} {} and I m {} yeras old".format (name,surname,age))


# burada "format" komutu ve " : " komutunu kullandık süslü parantez
# içinde kullandığımız "1" virgülden önce kaç satır boşluk bırakmamız gerektiğini
# 2 ise virgülden sonra "3" basamak yazma işlemine yarıyor
result = 200/700
print ( result)
print ("the result is {r:1.3}" .format (r=result))
# burda tırnaktan önce kullandığımız "f" komutu parantez içlerine değişken girebilmemizi sağlıyor
print (f"my name is {name} {surname} and I m {age} yeras old")

my name is ali kayanc
my name is kayanc ali
my name is kayanc ali
my name is ali kayanc and I m 20 yeras old
0.2857142857142857
the result is 0.286
my name is ali kayanc and I m 20 yeras old

In [65]:
#  örnekler 

website="http://www.lastikparkotoplus.com"
course="python kursu:baştan sona python programlama"

print(len(course)) #courssenin kaç karakter olduğunu yazdırdık
print(len(website))# websitenin //
print (website[7:10])#webistenin 7 den 10 kadar olan karakterlerini yazdırdık
print (website[29:32])# //      29 dan 32  //
print (course[:15],course[-15:])# coursenin ilk ve son 15 karakterini yazdırdık
print (course[::-1])#coursenin karakterlerini terste yazdırdık
name,surname,age,job="ali","kayanc",20,"mühendis"# değişken tanımlladık
print (f"benim adım {name} {surname} yaşım {age} ve mesleğim {job}")# f komutunu kullandık
s ="hello world"#
print (s)#
s= s[0:6] +"W"+s[-4:]#hello world un w sunu değiştirdik
print (s)#
result="abc"*3# abc yi 3 kere yanyana yazdırdık
print(result)#

43
32
www
com
python kursu:ba hon programlama
amalmargorp nohtyp anos natşab:usruk nohtyp
benim adım ali kayanc yaşım 20 ve mesleğim mühendis
hello world
hello World
abcabcabc

# <!--  string metodları -->

In [96]:
message ="   hello There. my name is ali"
print(message)
message =message .upper() # bütün karakterleri büyütür
print(message)
message =message .lower() # bütün karakterleri küçültür
print(message)
message =message .title()# her kelimenin baş harfini büyük yapar
print(message)
# strip içine yazdığımız karakterleride silme özlelliğine sahiptir
message =message .strip()# mesjın başındaki ve sonundaki boşlukları siler
print(message)
message =message .capitalize()# sadece ilk karakteri büyük yapar
print(message)
# split içine yazdığımız karakteri görür ve parçalara ordan ayırır
#hiç birşey yazmazsak boşluklardan ayırıp dizi halşne getirir
message=message.split()# her bir kelimeyi dizinin bir elemanı yapar
print (message)
print (message[2])
message =" ".join(message)# splitin tersi yani birleştirir
print (message)
index = message.find("ali")# kelimenin ilk harfinin konumunu verir
print (index) 
# replaceyi örnek kullanımm makalede türkçe karakter yerine inglizce karakter koyar
message =message.replace("ç","c")# örnek kullanım
               
message =message.replace("ali","mami")# cümlede ali yerine mami yazar
print (message)
message =message.center(50,"*")# mesajı 50 karakterlik bir alan içine ortalar
print (message)
hop =message.index("mami") # mesaj içinde mami varmı kontrol eder
print (hop)
result=message.isalpha() # mesaj alfabetik mi kontrol eder
print(result)

   hello There. my name is ali
   HELLO THERE. MY NAME IS ALI
   hello there. my name is ali
   Hello There. My Name Is Ali
Hello There. My Name Is Ali
Hello there. my name is ali
['Hello', 'there.', 'my', 'name', 'is', 'ali']
my
Hello there. my name is ali
24
Hello there. my name is mami
***********Hello there. my name is mami***********
35
False

 # <!-- pythonda listeler -->

In [110]:
# liste tanımladık
mylist=[1,2,3]

mylist2= ["one ","two","there"]
print (mylist[1])
print (len (mylist))
numbers=  mylist+ mylist2
print (numbers)
userA=["ali",20]
userB=["kayanc",21]
users=[userA,userB]
print (users[1][0])# user listesinin 1. elemanının yani userB elemanq onunda  0. elamanına ulaştık

2
3
[1, 2, 3, 'one ', 'two', 'there']
kayanc

In [176]:
#listelerle örnekler

cars=['bmw','mercedes','opel','mazda']
print (len (cars))
print(cars[0])
print(cars[3])
cars[-1]="toyota"
print(cars[3])
print ('mercedes'in cars)
print(cars[-2])
print(cars[:3])
cars[-2:]='totoya','renault'
print(cars)
print(cars+['audi','nissan'])
print(cars)
del cars[-1]
print(cars)
print (cars[::-1])
print(cars.index('totoya'))# index komutu istediğimiz ifadenin konumunu verir

studentA=['ali','kayanc',2002,[10,20,30]]
print (studentA)
print(studentA[3][1])
print (f"{studentA[0]} {studentA[1]} adlı {2022-studentA[2]} yaşındaki öğrencinin not ortalaması{(studentA[3][0]+studentA[3][1] +studentA[3][2])/3 }")

4
bmw
mazda
toyota
True
opel
['bmw', 'mercedes', 'opel']
['bmw', 'mercedes', 'totoya', 'renault']
['bmw', 'mercedes', 'totoya', 'renault', 'audi', 'nissan']
['bmw', 'mercedes', 'totoya', 'renault']
['bmw', 'mercedes', 'totoya']
['totoya', 'mercedes', 'bmw']
2
['ali', 'kayanc', 2002, [10, 20, 30]]
20
ali kayanc adlı 20 yaşındaki öğrencinin not ortalaması20.0

# <!-- liste metodları -->

In [178]:
numbers=[1,2,6,9,8,7]
letters=['a','d','f','g','h','t']

val=min(numbers) # değer olarak min değeri alır
print (val)
val=max(numbers)# değer olarak max değeri alır
print (val)

val =numbers [3:6]
print (val)
numbers[4]=40
print (numbers)
numbers.append("49") # listeye elaman ekler
print (numbers)
numbers.insert(3,78)# istediğimiz konuma eleman ekler
print (numbers)
numbers.pop(3)# eleman silmek için kullanılır
print (numbers)
numbers.remove(7)
print(numbers)
letters.sort() #sayılarda büyükten küçüğe harlerde alfabetik sıraya göre sıralar
letters.reverse()# tersten yazdırır
print(letters)
print(numbers.count(2))# numbers içinde 2 rakamının kaç tane olduğunu yazar
numbers.clear()# bütün elemanları siler
print (numbers)

markalar=[]
marka =input ("marka:")
markalar.append(marka)
print(markalar)

1
9
[9, 8, 7]
[1, 2, 6, 9, 40, 7]
[1, 2, 6, 9, 40, 7, '49']
[1, 2, 6, 78, 9, 40, 7, '49']
[1, 2, 6, 9, 40, 7, '49']
[1, 2, 6, 9, 40, '49']
['t', 'h', 'g', 'f', 'd', 'a']
1
[]
marka:monster
['monster']

# <!-- tuple -->

In [173]:
list=[1,2,3]
tuple =(1,'iki',3)
print (type(tuple))

print(list[2])
print (tuple[2])
list[0]='ahmet'
 # tuple[0]='ahmet' bunu yapamayız tuple buna izin vermiyor

<class 'tuple'>
3
3

# <!-- Dictionary -->

In [210]:
# key -value 
# süslü parantez kullanarak yapılıyor
sehirler=['kocaeli','istanbul']
plakalar= [41,34]
print (plakalar [sehirler.index('istanbul')])

# print (plakalar ['kocaeli'])=> 41 i yapmak istersek

plakalar={'kocaeli':41,'istanbul':34}
print (plakalar ['kocaeli'])
plakalar ['ankara']=6 # içersinde ankara bilgisi yoktu ama ekledik
print (plakalar)

users={ 'ali':{
        'adress':'ankara',   # class yapısı gibi bir yapı yaptık ve bilgilere ulaştık
        'age':20 ,
        'phone':'54654'
},
       'kayanc':{
        'adress':'çorum',
        'age':19,
        'phone':'54654' }
      }
print (users ['ali']['phone']) 
print (users ['kayanc']['adress'])

34
41
{'kocaeli': 41, 'istanbul': 34, 'ankara': 6}
54654
çorum

In [214]:
# örnek

number =input ("numara:")
ad = input ( "ad:")
soyad=input ( "soyad")
age =input ( "yaşı")

ogrenciler ={}
ogrenciler [number]={
    
    'adi': ad,
    'soyadi':soyad,
    'yasi':age
}
print (ogrenciler)

nmbr=input("istdeiğiginiz öğrenci numarası" )

ogrenci =ogrenciler [nmbr]
print (ogrenci)

numara:100
ad:100
soyad100
yaşı100
{'100': {'adi': '100', 'soyadi': '100', 'yasi': '100'}}
istdeiğiginiz öğrenci numarası100
{'adi': '100', 'soyadi': '100', 'yasi': '100'}

# <!-- sets listesi -->

In [11]:
fruits={'orange','banana','apple'}


# print( fruits [0]) 'indexlenemez' yani elemana ulaşamayız

# elemanlara ulaşmak için for kullanırız
for x in fruits:
    print(x)
fruits.add('watermelon')# eleman ekledik 
fruits.update(['mango','grape'])
print(fruits)
fruits.remove('mango')# eleman sildik
print(fruits)

apple
banana
orange
{'mango', 'apple', 'watermelon', 'banana', 'orange', 'grape'}
{'apple', 'watermelon', 'banana', 'orange', 'grape'}

# <!-- value & referance Types -->

In [15]:
# value types
x = 5
y=25
x=y
y=10
print (x ,y)

# referance types
b =['banana','apple'] 
a = ['banana','apple'] # listelerde eşitleme yaparsak 
a=b                    # aynı adresi eşitledikleri için herhangi birinde 
                        # yaptığımız değişiklik diğerinide etkiler
b[0]='mango'
print (a,b)

25 10
['mango', 'apple'] ['mango', 'apple']